body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 5.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.75rem;
}
.display-2 {
  font-family: 'Anton', sans-serif;
  font-size: 5.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 7.25rem;
}
.display-4 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.32rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.78rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4.64rem;
    font-size: calc( 2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e82686 !important;
}
.bg-success {
  background-color: #35b1ce !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e82686 !important;
  border-color: #e82686 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a6125b !important;
  border-color: #a6125b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a6125b !important;
  border-color: #a6125b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e82686 !important;
  border-color: #e82686 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a6125b !important;
  border-color: #a6125b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a6125b !important;
  border-color: #a6125b !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #35b1ce !important;
  border-color: #35b1ce !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #22778b !important;
  border-color: #22778b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #22778b !important;
  border-color: #22778b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e82686;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a6125b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e82686 !important;
  border-color: #e82686 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e82686;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a6125b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e82686 !important;
  border-color: #e82686 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #35b1ce;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #22778b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #35b1ce !important;
  border-color: #35b1ce !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e82686 !important;
}
.text-secondary {
  color: #e82686 !important;
}
.text-success {
  color: #35b1ce !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #981053 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #981053 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1f6c7e !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e82686;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e82686;
  border-color: #e82686;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e82686;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fcdeed;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d9f0f6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e82686 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #e82686;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e82686;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e82686;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e82686;
  border-bottom-color: #e82686;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e82686 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e82686 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e82686' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sQrzo2bRPs {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sQrzo2bRPs nav.navbar {
  position: fixed;
}
.cid-sQrzo2bRPs .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sQrzo2bRPs .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sQrzo2bRPs .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sQrzo2bRPs .dropdown-item:hover,
.cid-sQrzo2bRPs .dropdown-item:focus {
  background: #e82686 !important;
  color: #e82686 !important;
}
.cid-sQrzo2bRPs .dropdown-item:hover span {
  color: #e82686;
}
.cid-sQrzo2bRPs .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sQrzo2bRPs .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sQrzo2bRPs .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sQrzo2bRPs .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sQrzo2bRPs .nav-link {
  position: relative;
}
.cid-sQrzo2bRPs .container {
  display: flex;
  margin: auto;
}
.cid-sQrzo2bRPs .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sQrzo2bRPs .dropdown-menu,
.cid-sQrzo2bRPs .navbar.opened {
  background: #232323 !important;
}
.cid-sQrzo2bRPs .nav-item:focus,
.cid-sQrzo2bRPs .nav-link:focus {
  outline: none;
}
.cid-sQrzo2bRPs .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sQrzo2bRPs .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sQrzo2bRPs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sQrzo2bRPs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sQrzo2bRPs .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sQrzo2bRPs .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sQrzo2bRPs .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #232323;
}
.cid-sQrzo2bRPs .navbar.opened {
  transition: all 0.3s;
}
.cid-sQrzo2bRPs .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sQrzo2bRPs .navbar .navbar-logo img {
  width: auto;
}
.cid-sQrzo2bRPs .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sQrzo2bRPs .navbar.collapsed {
  justify-content: center;
}
.cid-sQrzo2bRPs .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sQrzo2bRPs .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sQrzo2bRPs .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5.1rem);
  }
}
.cid-sQrzo2bRPs .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sQrzo2bRPs .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sQrzo2bRPs .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sQrzo2bRPs .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sQrzo2bRPs .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sQrzo2bRPs .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sQrzo2bRPs .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sQrzo2bRPs .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sQrzo2bRPs .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sQrzo2bRPs .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sQrzo2bRPs .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sQrzo2bRPs .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sQrzo2bRPs .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sQrzo2bRPs .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sQrzo2bRPs .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sQrzo2bRPs .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sQrzo2bRPs .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sQrzo2bRPs .navbar.navbar-short {
  min-height: 60px;
}
.cid-sQrzo2bRPs .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sQrzo2bRPs .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sQrzo2bRPs .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sQrzo2bRPs .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sQrzo2bRPs .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sQrzo2bRPs .dropdown-item.active,
.cid-sQrzo2bRPs .dropdown-item:active {
  background-color: transparent;
}
.cid-sQrzo2bRPs .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sQrzo2bRPs .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sQrzo2bRPs .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sQrzo2bRPs .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-sQrzo2bRPs .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sQrzo2bRPs .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sQrzo2bRPs ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sQrzo2bRPs .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sQrzo2bRPs button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sQrzo2bRPs nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sQrzo2bRPs nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sQrzo2bRPs nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sQrzo2bRPs nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sQrzo2bRPs .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sQrzo2bRPs a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sQrzo2bRPs .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sQrzo2bRPs .navbar {
    height: 70px;
  }
  .cid-sQrzo2bRPs .navbar.opened {
    height: auto;
  }
  .cid-sQrzo2bRPs .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sQrzo2bRPs a.text-primary:hover {
  color: #e82686!important;
}
.cid-sQrzo2bRPs a.nav-link:hover {
  color: #e82686!important;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span {
  background-color: #e82686;
}
.cid-sQrzo2bRPs .modal-dialog,
.cid-sQrzo2bRPs .modal-content {
  height: initial;
}
.cid-t6mKR0S0a8 {
  display: flex;
  background-image: url("../../../assets/images/cover-homepage-1635x1174.jpg");
}
.cid-t6mKR0S0a8 .mbr-overlay {
  background-color: #353535;
  opacity: 0.5;
}
.cid-t6mKR0S0a8 .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 768px) {
  .cid-t6mKR0S0a8 {
    align-items: flex-end;
  }
  .cid-t6mKR0S0a8 .row {
    justify-content: flex-start;
  }
  .cid-t6mKR0S0a8 .content-wrap {
    width: 51%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-t6mKR0S0a8 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-t6mKR0S0a8 {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-t6mKR0S0a8 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-t6mKR0S0a8 .content-wrap {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cid-t6mKR0S0a8 {
    background-position: 61% 54%;
    min-height: 40vh;
  }
}
.cid-t6skLxiyPF {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t6skLxiyPF .mbr-fallback-image.disabled {
  display: none;
}
.cid-t6skLxiyPF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t6skLxiyPF .number-wrap {
  color: #555555;
  text-align: center;
}
.cid-t6skLxiyPF .number {
  color: #000000;
  white-space: nowrap;
  font-family: "Anton", Sans-serif;
  font-size: 120px;
  font-weight: 400;
}
.cid-t6skLxiyPF .period {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  opacity: 0.8;
}
.cid-t6skLxiyPF .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-t6skLxiyPF .period {
    font-size: 0.8rem;
  }
}
.cid-t6skLxiyPF .btn {
  height: 100%;
  margin: 0;
}
.cid-t6skLxiyPF .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-t6skLxiyPF .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-t6skLxiyPF .icons-menu .soc-item .mbr-iconfont {
  font-size: 2rem;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #6592e6;
  border: 2px solid #6592e6;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-t6skLxiyPF .icons-menu .soc-item .mbr-iconfont:before {
  padding: 0.6rem;
}
.cid-t6skLxiyPF .icons-menu .soc-item .mbr-iconfont:hover {
  background-color: #6592e6;
  color: #ffffff;
}
.cid-t6skLxiyPF .text-style {
  color: #6EC1E400;
  font-family: 'Oswald', sans-serif;
  font-size: 200px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.01px;
  -webkit-text-stroke: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #E3E3E4;
  stroke: #E3E3E4;
}
.cid-t6skLxiyPF H3 {
  text-align: left;
}
.cid-t6skLxiyPF .countdown-cont {
  top: -4rem;
  position: relative;
}
.cid-t6skLxiyPF .daysCountdown.number::before {
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  top: -60px;
  left: 60px;
  -webkit-filter: blur(60px);
  filter: blur(60px);
  background-color: #f7c831;
}
.cid-t6skLxiyPF .hoursCountdown.number::before {
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  top: -60px;
  left: 295px;
  -webkit-filter: blur(60px);
  filter: blur(60px);
  background-color: #f75b57;
}
.cid-t6skLxiyPF .minutesCountdown.number::before {
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  top: -60px;
  right: 287px;
  -webkit-filter: blur(60px);
  filter: blur(60px);
  background-color: #0bc07f;
}
.cid-t6skLxiyPF .secondsCountdown.number::before {
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  top: -60px;
  right: 0px;
  -webkit-filter: blur(60px);
  filter: blur(60px);
  background-color: #9d76ff;
}
.cid-t6skLxiyPF .elementor {
  transform: translateY(198.25px);
  left: 7%;
  top: -8%;
  opacity: 1;
  z-index: 2;
  position: absolute;
  pointer-events: none;
}
.cid-t6skLxiyPF .elementor2 {
  transform: translateY(198.25px);
  left: 3%;
  top: 29%;
  opacity: 1;
  z-index: 2;
  position: absolute;
  pointer-events: none;
}
@media (max-width: 768px) {
  .cid-t6skLxiyPF {
    padding-top: 0;
  }
  .cid-t6skLxiyPF .text-style {
    font-size: 97px;
  }
  .cid-t6skLxiyPF .countdown-cont {
    top: 0;
  }
  .cid-t6skLxiyPF .number {
    font-size: 42px;
  }
  .cid-t6skLxiyPF .elementor {
    left: -41%;
    top: -78%;
  }
  .cid-t6skLxiyPF .elementor2 {
    left: 75%;
    top: 3%;
  }
}
.cid-t6mPwrJ7zK {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t6mPwrJ7zK .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-t6mPwrJ7zK .image-wrap img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
.cid-t6mPwrJ7zK .text-wrapper {
  position: relative;
}
.cid-t6mPwrJ7zK .text-style {
  color: #6EC1E400;
  font-family: 'Oswald', sans-serif;
  font-size: 200px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.01px;
  -webkit-text-stroke: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #E3E3E4;
  stroke: #E3E3E4;
}
.cid-t6mPwrJ7zK .mbr-section-title {
  text-align: right;
}
.cid-t6mPwrJ7zK .elementor img {
  width: auto;
}
.cid-t6mPwrJ7zK .elementor {
  transform: translateY(198.25px);
  left: 85%;
  top: -8%;
  opacity: 1;
  z-index: 2;
  position: absolute;
  pointer-events: none;
}
.cid-t6mPwrJ7zK .elementor1 {
  transform: translateY(198.25px);
  left: 9%;
  top: 26%;
  opacity: 1;
  z-index: 2;
  position: absolute;
  pointer-events: none;
}
@media (max-width: 768px) {
  .cid-t6mPwrJ7zK {
    padding-top: 3rem;
  }
  .cid-t6mPwrJ7zK .text-style {
    font-size: 97px;
  }
  .cid-t6mPwrJ7zK .elementor {
    left: 95%;
    top: -15%;
  }
  .cid-t6mPwrJ7zK .text-wrapper {
    margin-top: 2.5rem;
  }
}
.cid-t6DIf0NN1P {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-t6DIf0NN1P .btn-primary {
  padding: 1.5rem 3.5rem;
  text-transform: uppercase ;
  letter-spacing: 0.1rem;
}
.cid-t6DIf0NN1P .btn {
  border-radius: 0;
}
.cid-sQrzwqDrQk {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/bg-4-1920x290.png");
}
.cid-sQrzwqDrQk .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
@media (max-width: 767px) {
  .cid-sQrzwqDrQk {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
.cid-sQrzwqDrQk .display-2 {
  letter-spacing: 0.3rem;
}
@media (max-width: 768px) {
  .cid-sQrzwqDrQk .display-2 {
    letter-spacing: 0;
    font-size: 3rem;
  }
}
.cid-sQrzxfT18Q {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-sQrzxfT18Q .card:not(:nth-last-child(1)) {
  margin-bottom: 1rem;
}
.cid-sQrzxfT18Q .card-wrapper {
  background-color: #353535;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.005);
  padding: 2.5rem 2rem 2rem;
}
@media (max-width: 767px) {
  .cid-sQrzxfT18Q .card-wrapper {
    padding: 0;
  }
}
.cid-sQrzxfT18Q .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-sQrzxfT18Q .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-sQrzxfT18Q .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-sQrzxfT18Q .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sQrzxfT18Q .card-box {
    padding: 2rem 1rem 1rem;
  }
}
@media (min-width: 768px) {
  .cid-sQrzxfT18Q .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sQrzxfT18Q .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-sQrzxfT18Q ul li {
  font-size: 1.1rem;
}
.cid-sQrzxfT18Q ul {
  margin-bottom: 1.2rem;
}
.cid-sQrzxfT18Q .display-4 {
  font-size: 1.6rem;
  line-height: 1.3;
  letter-spacing: 0.05rem;
}
.cid-sQrzxfT18Q .display-5 {
  font-size: 1.2rem;
}
.cid-sQrzxfT18Q .display-2 {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.cid-sQrzxfT18Q h5 {
  border-radius: 25px;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: linear-gradient(to right, #270044, #1b42bb);
  display: inline-block;
}
@media (max-width: 768px) {
  .cid-sQrzxfT18Q h5 {
    margin-top: 1rem;
  }
}
.cid-sQrzxfT18Q .card-title {
  color: #ffffff;
}
.cid-sQrzxfT18Q .image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sQrzxfT18Q .image-wrapper img {
  object-fit: cover;
  border: 2px solid #fc9c58;
}
.cid-sQrzxfT18Q .time-wrapper {
  padding: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sQrzxfT18Q .icon-box {
  width: 100%;
  min-height: 90px;
  min-width: 80px;
  margin-right: 2rem;
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-sQrzxfT18Q .bg-color1 {
  background-color: #6d2dec;
}
.cid-sQrzxfT18Q .bg-color2 {
  background-color: #fa1f5e;
}
.cid-sQrzxfT18Q .bg-color3 {
  background-color: #fc9c58;
}
.cid-sQrzxfT18Q .bg-color4 {
  background-color: #43caf0;
}
.cid-sQrzxfT18Q .bg-color5 {
  background-color: #e778e8;
}
.cid-sQrzxfT18Q .bg-color6 {
  background-color: #27d0b3;
}
.cid-sQrzxfT18Q .icon-box img {
  border-radius: 50px;
}
.cid-sQrzxfT18Q .img-thumb {
  width: 20%;
  border-radius: 50%;
  margin-bottom: 1%;
  float: left;
  margin-right: 1rem;
}
.cid-sQrzxfT18Q .img-thumbM {
  border-radius: 50%;
  width: 20%;
}
.cid-sQrzxfT18Q .mbr-text,
.cid-sQrzxfT18Q .social-row {
  color: #fafafa;
}
.cid-sQrzxfT18Q .schedule-shape::before {
  content: "";
  width: 484px;
  height: 484px;
  position: absolute;
  bottom: -12%;
  right: 0%;
  -webkit-filter: blur(420px);
  filter: blur(420px);
  background: #c732ff;
}
.cid-sQrzxfT18Q .card-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-sQrzxfT18Q .speaker-title {
  font-size: 1rem;
}
.cid-sQrzxfT18Q .speaker-name {
  font-size: 1.1rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .cid-sQrzxfT18Q {
    padding-bottom: 1rem;
  }
  .cid-sQrzxfT18Q .display-2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .cid-sQrzxfT18Q .display-4 {
    font-size: 2.2rem;
    line-height: 1.35;
    letter-spacing: 0.05rem;
  }
  .cid-sQrzxfT18Q .time-wrapper {
    padding: 0 2rem;
  }
}
.cid-t6EspA252X {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t6EspA252X img,
.cid-t6EspA252X .item-img {
  width: 100%;
}
.cid-t6EspA252X .item:focus,
.cid-t6EspA252X span:focus {
  outline: none;
}
.cid-t6EspA252X .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}
.cid-t6EspA252X .item-wrapper {
  position: unset;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-t6EspA252X .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-t6EspA252X .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-t6EspA252X .mbr-section-btn {
  margin-top: auto !important;
}
.cid-t6EspA252X .mbr-section-title {
  color: #232323;
}
.cid-t6EspA252X .item-img {
  position: relative;
}
.cid-t6EspA252X .item-img::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--speaker-overlay-color);
  mix-blend-mode: var(--speaker-overlay-blend-mode);
}
.cid-t6EspA252X .item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.cid-t6EspA252X .speaker-info {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  width: 100%;
  height: auto;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 4rem 2rem;
}
.cid-t6EspA252X .first-name {
  color: #ffffff00;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 2px;
}
.cid-t6EspA252X .item-title {
  font-family: "Anton", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.cid-t6EspA252X .display-2 {
  font-size: 3rem;
}
.cid-t6EspA252X .item-subtitle {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0 1.5rem 0 0;
}
.cid-t6EspA252X .text-style {
  color: #6EC1E400;
  font-family: 'Oswald', sans-serif;
  font-size: 200px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.01px;
  -webkit-text-stroke: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #E3E3E4;
  stroke: #E3E3E4;
}
@media (max-width: 768px) {
  .cid-t6EspA252X .text-style {
    font-size: 97px;
  }
}
.cid-t6EspA252X H3 {
  text-align: left;
}
.cid-t6EspA252X .display-7 {
  line-height: 1.2;
  font-size: 1.1rem;
}
.cid-t6KAbjgD4o {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-t6KAbjgD4o .btn-primary {
  padding: 1.5rem 3.5rem;
  text-transform: uppercase ;
  letter-spacing: 0.1rem;
}
.cid-t6KAbjgD4o .btn {
  border-radius: 0;
}
@media (max-width: 7368px) {
  .cid-t6KAbjgD4o {
    padding-bottom: 2.5rem;
  }
}
.cid-t6K4jjsvlE {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #faf3f6;
}
.cid-t6K4jjsvlE .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-t6K4jjsvlE form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-t6K4jjsvlE form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-t6K4jjsvlE form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-t6K4jjsvlE .text-style {
  color: #6EC1E400;
  font-family: 'Oswald', sans-serif;
  font-size: 200px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.01px;
  -webkit-text-stroke: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #E3E3E4;
  stroke: #E3E3E4;
}
@media (max-width: 768px) {
  .cid-t6K4jjsvlE .text-style {
    font-size: 60px;
  }
}
.cid-t6K4jjsvlE H3 {
  text-align: left;
}
.cid-t6K4jjsvlE .form-control {
  border-radius: 0;
  min-height: 55px;
  line-height: 1.2rem!important;
}
.cid-t6K4jjsvlE option {
  min-height: 1.4rem;
}
.cid-t6K4jjsvlE select option {
  line-height: 1.4rem;
  padding: 15px 0;
}
.cid-t6K4jjsvlE .gray {
  color: #6f7880;
}
.cid-t6K4jjsvlE label .display-7 {
  line-height: 1.2;
}
.cid-t6K4jjsvlE input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: bottom;
  position: relative;
  top: -6px;
}
.cid-t6K4jjsvlE label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.cid-t6K4jjsvlE .btn-primary {
  padding: 1.5rem 3.5rem;
  text-transform: uppercase ;
  letter-spacing: 0.1rem;
}
.cid-t6K4jjsvlE .btn {
  border-radius: 0;
}
.cid-t6K4jjsvlE .elementor {
  transform: translateY(198.25px);
  left: -3%;
  top: 2%;
  opacity: 1;
  z-index: 2;
  position: absolute;
  pointer-events: none;
}
.cid-t6K4jjsvlE .elementor1 {
  transform: translateY(198.25px);
  bottom: 18%;
  right: 0%;
  opacity: 1;
  z-index: 2;
  position: absolute;
  pointer-events: none;
}
@media (max-width: 768px) {
  .cid-t6K4jjsvlE .elementor {
    left: -26%;
    top: -21%;
  }
  .cid-t6K4jjsvlE .elementor1 {
    bottom: 17%;
    right: -41%;
  }
}
.cid-t6K4jjsvlE .modal-dialog,
.cid-t6K4jjsvlE .modal-content {
  height: initial;
}
.cid-t6K4jjsvlE .space-text {
  margin-left: 5px;
}
.cid-sQrzABLycu {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sQrzABLycu hr {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 778px) {
  .cid-sQrzABLycu {
    padding-top: 2.5rem;
  }
}
.cid-sQrzBbkyLU {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sQrzBbkyLU img {
  width: 250px;
  margin: auto;
}
.cid-sQrzBbkyLU .card {
  transition: all 0.3s;
  height: fit-content;
  margin-bottom: 0.4rem;
}
@media (min-width: 992px) {
  .cid-sQrzBbkyLU .card {
    max-width: 100%;
  }
}
.cid-sQrzDNTsaS {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sQrzDNTsaS hr {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 778px) {
  .cid-sQrzDNTsaS {
    padding-top: 1.5rem;
  }
}
.cid-sQrzErVcem {
  padding-top: 0rem;
  padding-bottom: 9rem;
  background-color: #ffffff;
}
.cid-sQrzErVcem img {
  width: 120px;
  margin: auto;
}
.cid-sQrzErVcem .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sQrzErVcem .card {
    max-width: 12.5%;
  }
}
.cid-sQrzSYobjA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-sQrzSYobjA .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-sQrzSYobjA .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e82686 ;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
}
@media (max-width: 767px) {
  .cid-sQrzSYobjA .row {
    text-align: center;
  }
  .cid-sQrzSYobjA .social-row {
    justify-content: center;
  }
}
.cid-sQrzSYobjA .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-sQrzSYobjA .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sQrzSYobjA .list {
    margin-bottom: 0rem;
  }
}
.cid-sQrzSYobjA .mbr-text {
  color: #bbbbbb;
}
.cid-sQrzSYobjA .mbr-iconfont {
  color: white;
}
.cid-sQrzSYobjA ul.display-4,
.cid-sQrzSYobjA .copyright {
  font-size: 1rem;
}
.cid-sQrzSYobjA .link-style a:link,
.cid-sQrzSYobjA .link-style a:visited,
.cid-sQrzSYobjA .link-style a:hover {
  color: #bbbbbb!important;
  text-decoration: none;
}
