.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Raleway', sans-serif;
  font-size: 5.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.75rem;
}
.display-2 {
  font-family: 'Questrial', sans-serif;
  font-size: 2.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-4 {
  font-family: 'Questrial', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Questrial', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.32rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.78rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #fd9405 !important;
}
.bg-success {
  background-color: #35b1ce !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #84bc18 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fd9405 !important;
  border-color: #fd9405 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #aa6301 !important;
  border-color: #aa6301 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #aa6301 !important;
  border-color: #aa6301 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e82686 !important;
  border-color: #e82686 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a6125b !important;
  border-color: #a6125b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a6125b !important;
  border-color: #a6125b !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #35b1ce !important;
  border-color: #35b1ce !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #22778b !important;
  border-color: #22778b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #22778b !important;
  border-color: #22778b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #84bc18 !important;
  border-color: #84bc18 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #4e6f0e !important;
  border-color: #4e6f0e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4e6f0e !important;
  border-color: #4e6f0e !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #fd9405;
  color: #fd9405;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #aa6301 !important;
  background-color: transparent!important;
  border-color: #aa6301 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fd9405 !important;
  border-color: #fd9405 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e82686;
  color: #e82686;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a6125b !important;
  background-color: transparent!important;
  border-color: #a6125b !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e82686 !important;
  border-color: #e82686 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #35b1ce;
  color: #35b1ce;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #22778b !important;
  background-color: transparent!important;
  border-color: #22778b !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #35b1ce !important;
  border-color: #35b1ce !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #84bc18;
  color: #84bc18;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4e6f0e !important;
  background-color: transparent!important;
  border-color: #4e6f0e !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #84bc18 !important;
  border-color: #84bc18 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #fd9405 !important;
}
.text-secondary {
  color: #e82686 !important;
}
.text-success {
  color: #35b1ce !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #84bc18 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #9b5a01 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #981053 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1f6c7e !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #44620c !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #fd9405;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #84bc18;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fd9405;
  border-color: #fd9405;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #fd9405;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffebcf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d9f0f6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #bfec68;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Questrial', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fd9405 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Questrial', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #fd9405;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fd9405;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fd9405;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fd9405;
  border-bottom-color: #fd9405;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fd9405 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e82686 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fd9405' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sQrzo2bRPs {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sQrzo2bRPs nav.navbar {
  position: fixed;
}
.cid-sQrzo2bRPs .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sQrzo2bRPs .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sQrzo2bRPs .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sQrzo2bRPs .dropdown-item:hover,
.cid-sQrzo2bRPs .dropdown-item:focus {
  background: #fd9405 !important;
  color: #99ca3c !important;
}
.cid-sQrzo2bRPs .dropdown-item:hover span {
  color: #99ca3c;
}
.cid-sQrzo2bRPs .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sQrzo2bRPs .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sQrzo2bRPs .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sQrzo2bRPs .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sQrzo2bRPs .nav-link {
  position: relative;
}
.cid-sQrzo2bRPs .container {
  display: flex;
  margin: auto;
}
.cid-sQrzo2bRPs .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sQrzo2bRPs .dropdown-menu,
.cid-sQrzo2bRPs .navbar.opened {
  background: #232323 !important;
}
.cid-sQrzo2bRPs .nav-item:focus,
.cid-sQrzo2bRPs .nav-link:focus {
  outline: none;
}
.cid-sQrzo2bRPs .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sQrzo2bRPs .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sQrzo2bRPs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sQrzo2bRPs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sQrzo2bRPs .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sQrzo2bRPs .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sQrzo2bRPs .navbar {
  min-height: 41px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #232323;
}
.cid-sQrzo2bRPs .navbar.opened {
  transition: all 0.3s;
}
.cid-sQrzo2bRPs .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sQrzo2bRPs .navbar .navbar-logo img {
  width: auto;
}
.cid-sQrzo2bRPs .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sQrzo2bRPs .navbar.collapsed {
  justify-content: center;
}
.cid-sQrzo2bRPs .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sQrzo2bRPs .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sQrzo2bRPs .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5.1rem);
  }
}
.cid-sQrzo2bRPs .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sQrzo2bRPs .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sQrzo2bRPs .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sQrzo2bRPs .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sQrzo2bRPs .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sQrzo2bRPs .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sQrzo2bRPs .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sQrzo2bRPs .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sQrzo2bRPs .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sQrzo2bRPs .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sQrzo2bRPs .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sQrzo2bRPs .navbar .navbar-logo img {
    height: 1.6rem !important;
  }
  .cid-sQrzo2bRPs .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sQrzo2bRPs .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sQrzo2bRPs .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sQrzo2bRPs .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sQrzo2bRPs .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sQrzo2bRPs .navbar.navbar-short {
  min-height: 60px;
}
.cid-sQrzo2bRPs .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sQrzo2bRPs .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sQrzo2bRPs .navbar-brand {
  min-height: 58px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sQrzo2bRPs .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sQrzo2bRPs .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sQrzo2bRPs .dropdown-item.active,
.cid-sQrzo2bRPs .dropdown-item:active {
  background-color: transparent;
}
.cid-sQrzo2bRPs .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sQrzo2bRPs .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sQrzo2bRPs .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sQrzo2bRPs .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-sQrzo2bRPs .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sQrzo2bRPs .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sQrzo2bRPs ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sQrzo2bRPs .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sQrzo2bRPs button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sQrzo2bRPs nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sQrzo2bRPs nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sQrzo2bRPs nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sQrzo2bRPs nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sQrzo2bRPs .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sQrzo2bRPs a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sQrzo2bRPs .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sQrzo2bRPs .navbar {
    height: 58px;
  }
  .cid-sQrzo2bRPs .navbar.opened {
    height: auto;
  }
  .cid-sQrzo2bRPs .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sQrzo2bRPs a.text-primary:hover {
  color: #99ca3c!important;
}
.cid-sQrzo2bRPs a.nav-link:hover {
  color: #99ca3c!important;
}
.cid-sQrzo2bRPs button.navbar-toggler .hamburger span {
  background-color: #99ca3c;
}
.cid-sQrzo2bRPs .modal-dialog,
.cid-sQrzo2bRPs .modal-content {
  height: initial;
}
.cid-thu4KqfSVx {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.cid-thu4KqfSVx .mbr-fallback-image.disabled {
  display: none;
}
.cid-thu4KqfSVx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/bg-kv.jpg");
}
.cid-thu4KqfSVx .number-wrap {
  color: #bbbbbb;
  text-align: center;
  background: rgba(8, 8, 8, 0.5) !important;
  border: 1px solid #5c5e65!important;
  padding: 3px 1px;
  margin: 0;
  min-width: 118px;
  max-width: 100%;
}
.cid-thu4KqfSVx .number {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
}
.cid-thu4KqfSVx .period {
  display: block;
}
.cid-thu4KqfSVx .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-thu4KqfSVx .period {
    font-size: 0.8rem;
  }
}
.cid-thu4KqfSVx .btn {
  height: 100%;
  margin: 0;
}
.cid-thu4KqfSVx .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-thu4KqfSVx .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-thu4KqfSVx .icons-menu .soc-item .mbr-iconfont {
  font-size: 2rem;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #6592e6;
  border: 2px solid #6592e6;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-thu4KqfSVx .icons-menu .soc-item .mbr-iconfont:before {
  padding: 0.6rem;
}
.cid-thu4KqfSVx .icons-menu .soc-item .mbr-iconfont:hover {
  background-color: #6592e6;
  color: #ffffff;
}
.cid-thu4KqfSVx .image-wrap img {
  width: 100%;
  margin: auto;
  display: block;
}
.cid-thu4KqfSVx .mbr-text,
.cid-thu4KqfSVx .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-thu4KqfSVx .venue-wrap {
  text-align: left!important;
}
.cid-thu4KqfSVx .image-wrapper {
  display: flex;
  align-items: flex-start;
}
.cid-thu4KqfSVx .card-wrapper {
  margin-bottom: 0rem;
  display: flex;
  border-radius: 4px;
}
.cid-thu4KqfSVx .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #99ca3c;
}
.cid-thu4KqfSVx P {
  text-align: right;
  color: #84bc18;
}
.cid-thu4KqfSVx .card-wrapper .mbr-text {
  text-align: left!important;
}
.cid-thu4KqfSVx .card-title {
  border-bottom: 1px solid #ffffff;
  display: block;
  color: #ffffff;
}
.cid-thu4KqfSVx .btn-primary {
  border-radius: 0;
  padding: 1rem 3rem;
}
.cid-thu4KqfSVx .mbr-overlay {
  background-image: url(../../../assets/images/bg-kv.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.cid-thu4KqfSVx .highlight {
  color: #99ca3c;
  font-size: 2rem;
}
.cid-thu4KqfSVx .image-wrapper svg {
  margin-right: 1rem;
}
@media (max-width: 768px) {
  .cid-thu4KqfSVx {
    padding-top: 0.2rem;
  }
  .cid-thu4KqfSVx .image-wrapper svg {
    display: none;
  }
  .cid-thu4KqfSVx .no-p {
    padding: 0;
  }
  .cid-thu4KqfSVx .highlight {
    font-size: 1.8rem;
  }
}
.cid-thusHksmq2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/bg-bar.jpg");
}
.cid-thusHksmq2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-thusHksmq2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 1500px) {
  .cid-thusHksmq2 .container {
    max-width: 1400px;
  }
}
.cid-thusHksmq2 .mbr-iconfont {
  display: block;
  font-size: 2rem;
  color: #84bc18;
  margin-bottom: 1rem;
}
.cid-thusHksmq2 .card-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cid-thusHksmq2 .row {
  justify-content: center;
}
.cid-thusHksmq2 .card-title,
.cid-thusHksmq2 .iconfont-wrapper {
  color: #ffffff;
}
.cid-thusHksmq2 .card-text {
  color: #fafafa;
}
.cid-thusHksmq2 .up {
  margin: 0 auto;
  background-color: #232323;
  transform: translateY(-47px);
}
.cid-thusHksmq2 .display-7 {
  line-height: 1.2;
}
@media (max-width: 768px) {
  .cid-thusHksmq2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .cid-thusHksmq2 .card-wrapper {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .cid-thusHksmq2 .card-box {
    padding-bottom: 1rem;
  }
}
.cid-thXIc3Co0K {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-thXIc3Co0K .mbr-fallback-image.disabled {
  display: none;
}
.cid-thXIc3Co0K .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-thXIc3Co0K .mbr-section-title {
  color: #353535;
  text-align: center;
}
.cid-thXIc3Co0K .gt-heading.gt-align-center .gt-separate {
  justify-content: center;
}
.cid-thXIc3Co0K .gt-separate {
  align-items: center;
  display: flex;
  margin: 3px auto 0;
  justify-content: center;
}
.cid-thXIc3Co0K .gt-separate:before,
.cid-thXIc3Co0K .gt-separate:after {
  content: '';
  display: block;
  height: 1px;
  width: 125px;
  background: currentColor;
  opacity: .15;
}
.cid-thXIc3Co0K .gt-separate svg {
  margin: 0 20px;
  width: 23px;
  height: auto;
  opacity: .15;
}
.cid-thXIc3Co0K .title {
  text-align: center;
}
.cid-thXIc3Co0K a.text-primary:link,
.cid-thXIc3Co0K a.text-primary:hover,
.cid-thXIc3Co0K a.text-primary:visited,
.cid-thXIc3Co0K a.text-primary:active {
  color: #353535!important;
}
.cid-thXIc3Co0K .highlight {
  color: #99ca3c;
}
@media (max-width: 768px) {
  .cid-thXIc3Co0K {
    padding-top: 1.5rem;
  }
  .cid-thXIc3Co0K .item {
    display: block;
  }
  .cid-thXIc3Co0K .time-wrapper {
    background-color: #99ca3c;
    padding: 2px 5px;
  }
  .cid-thXIc3Co0K h3.mb-3 {
    margin-bottom: 0.5rem!important;
  }
}
.cid-thuFemIHB6 {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-thuFemIHB6 .item {
  display: flex;
  align-items: center;
}
.cid-thuFemIHB6 .item-border {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.cid-thuFemIHB6 .icon-box {
  width: 0px;
  min-width: 48px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #ed9d11;
}
@media (max-width: 768px) {
  .cid-thuFemIHB6 .icon-box {
    display: none!important;
  }
}
.cid-thuFemIHB6 .icon-box img {
  border-radius: 50px;
  width: 70%;
}
.cid-thuFemIHB6 .mbr-iconfont {
  font-size: 2rem;
  color: #99CA3C;
}
@media (max-width: 991px) {
  .cid-thuFemIHB6 .card {
    margin-bottom: 2rem;
  }
  .cid-thuFemIHB6 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-thuFemIHB6 .schedule-wrapper {
  padding: 0 50px;
  background-color: #ffffff;
}
.cid-thuFemIHB6 .display-7 {
  line-height: 1.5;
}
.cid-thuFemIHB6 .schedule-header {
  background-color: #99CA3C;
  padding-left: 50px;
  padding-right: 50px;
}
.cid-thuFemIHB6 .icon-text {
  color: #2C2C2C;
  padding-top: 0.5rem;
}
.cid-thuFemIHB6 .date-schedule {
  color: #2C2C2C;
  font-size: 1.4rem;
}
.cid-thuFemIHB6 .schedule-header .icon-box {
  color: #2C2C2C;
}
.cid-thuFemIHB6 H4 {
  color: #232323;
}
.cid-thuFemIHB6 .time-slot {
  color: #565656;
  font-size: 1.2rem;
  width: 180px;
}
.cid-thuFemIHB6 ul li {
  font-size: 1rem;
}
.cid-thuFemIHB6 ul {
  margin-bottom: 1.2rem;
}
.cid-thuFemIHB6 .item.item-heading {
  margin: 0 !important;
  padding: 0 !important;
}
.cid-thuFemIHB6 .item-border.last {
  border: none;
}
.cid-thuFemIHB6 .mbr-section-title {
  color: #353535;
  text-align: center;
}
.cid-thuFemIHB6 .gt-heading.gt-align-center .gt-separate {
  justify-content: center;
}
.cid-thuFemIHB6 .gt-separate {
  align-items: center;
  display: flex;
  margin: 3px auto 0;
  justify-content: center;
}
.cid-thuFemIHB6 .gt-separate:before,
.cid-thuFemIHB6 .gt-separate:after {
  content: '';
  display: block;
  height: 1px;
  width: 125px;
  background: currentColor;
  opacity: .15;
}
.cid-thuFemIHB6 .gt-separate svg {
  margin: 0 20px;
  width: 23px;
  height: auto;
  opacity: .15;
}
.cid-thuFemIHB6 .title {
  text-align: center;
}
.cid-thuFemIHB6 .highlight {
  color: #99ca3c;
}
.cid-thuFemIHB6 .schedule-speakers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cid-thuFemIHB6 .speaker-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
.cid-thuFemIHB6 ul.speaker-list {
  display: inline-flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: -7.5px;
}
.cid-thuFemIHB6 ul.speaker-list li {
  list-style: none;
  font-size: 0.8rem;
  background: #f6f6f6;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.cid-thuFemIHB6 .speaker-title {
  font-weight: 600;
  display: inline-block;
  padding: 5px 35px 5px 0;
}
.cid-thuFemIHB6 ul.list li {
  margin-left: -1rem;
}
.cid-thuFemIHB6 .speaker-list .display-7,
.cid-thuFemIHB6 .speaker-title .display-7 {
  font-size: 0.8rem;
}
.cid-thuFemIHB6 .text-box .display-5 {
  font-size: 1.2rem;
}
@media (max-width: 778px) {
  .cid-thuFemIHB6 {
    padding-top: 0rem;
    padding-bottom: 3rem;
  }
  .cid-thuFemIHB6 .schedule-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cid-thuFemIHB6 .schedule-wrapper {
    padding: 0 18px 18px 20px;
  }
  .cid-thuFemIHB6 .speaker-title {
    padding-top: 25px;
  }
  .cid-thuFemIHB6 .item-border {
    padding-bottom: 0.5rem;
  }
  .cid-thuFemIHB6 .item {
    padding-top: 0.5rem;
    display: block!important;
    margin-top: 1rem;
  }
  .cid-thuFemIHB6 .time-slot {
    background-color: #99ca3c;
    color: #232323;
    padding: 2px 5px;
  }
  .cid-thuFemIHB6 ul.list.mb-4 {
    margin-bottom: 0!important;
  }
  .cid-thuFemIHB6 ul.speaker-list {
    margin: -7.5px 0 0 0;
    width: 100%!important;
  }
  .cid-thuFemIHB6 ul.speaker-list li {
    margin-right: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
  .cid-thuFemIHB6 .schedule-speakers.mb-4 {
    margin-bottom: 0!important;
  }
  .cid-thuFemIHB6 .icon-title.mb-4 {
    margin-bottom: 0!important;
  }
}
.cid-thXIZlMXgp {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-thXIZlMXgp .item {
  display: flex;
}
.cid-thXIZlMXgp .item-border {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.cid-thXIZlMXgp .icon-box {
  width: 0px;
  min-width: 48px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #ed9d11;
}
@media (max-width: 768px) {
  .cid-thXIZlMXgp .icon-box {
    display: none!important;
  }
}
.cid-thXIZlMXgp .icon-box img {
  border-radius: 50px;
  width: 70%;
}
.cid-thXIZlMXgp .mbr-iconfont {
  font-size: 2rem;
  color: #99CA3C;
}
@media (max-width: 991px) {
  .cid-thXIZlMXgp .card {
    margin-bottom: 2rem;
  }
  .cid-thXIZlMXgp .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-thXIZlMXgp .schedule-wrapper {
  padding: 0 50px;
  background-color: #ffffff;
}
.cid-thXIZlMXgp .display-7 {
  line-height: 1.5;
}
.cid-thXIZlMXgp .schedule-header {
  background-color: #99CA3C;
  padding-left: 50px;
  padding-right: 50px;
}
.cid-thXIZlMXgp .icon-text {
  color: #2C2C2C;
  padding-top: 0.5rem;
}
.cid-thXIZlMXgp .date-schedule {
  color: #2C2C2C;
  font-size: 1.4rem;
}
.cid-thXIZlMXgp .schedule-header .icon-box {
  color: #2C2C2C;
}
.cid-thXIZlMXgp H4 {
  color: #232323;
}
.cid-thXIZlMXgp .time-slot {
  color: #565656;
  font-size: 1.2rem;
  width: 180px;
}
.cid-thXIZlMXgp ul li {
  font-size: 1rem;
}
.cid-thXIZlMXgp ul {
  margin-bottom: 1.2rem;
}
.cid-thXIZlMXgp .item.item-heading {
  margin: 0 !important;
  padding: 0 !important;
}
.cid-thXIZlMXgp .item-border.last {
  border: none;
}
.cid-thXIZlMXgp .mbr-section-title {
  color: #353535;
  text-align: center;
}
.cid-thXIZlMXgp .gt-heading.gt-align-center .gt-separate {
  justify-content: center;
}
.cid-thXIZlMXgp .gt-separate {
  align-items: center;
  display: flex;
  margin: 3px auto 0;
  justify-content: center;
}
.cid-thXIZlMXgp .gt-separate:before,
.cid-thXIZlMXgp .gt-separate:after {
  content: '';
  display: block;
  height: 1px;
  width: 125px;
  background: currentColor;
  opacity: .15;
}
.cid-thXIZlMXgp .gt-separate svg {
  margin: 0 20px;
  width: 23px;
  height: auto;
  opacity: .15;
}
.cid-thXIZlMXgp .title {
  text-align: center;
}
.cid-thXIZlMXgp .highlight {
  color: #99ca3c;
}
.cid-thXIZlMXgp .schedule-speakers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cid-thXIZlMXgp .speaker-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
.cid-thXIZlMXgp ul.speaker-list {
  display: inline-flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: -7.5px;
  width: 90%;
}
.cid-thXIZlMXgp ul.speaker-list li {
  list-style: none;
  font-size: 0.8rem;
  background: #f6f6f6;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.cid-thXIZlMXgp .speaker-detail {
  width: 90%;
}
.cid-thXIZlMXgp .speaker-title {
  font-weight: 600;
  display: inline-block;
  padding: 5px 35px 5px 0;
}
.cid-thXIZlMXgp ul.list li {
  margin-left: -1rem;
}
.cid-thXIZlMXgp .list {
  color: #353535;
}
.cid-thXIZlMXgp .text-box .display-5 {
  font-size: 1.2rem;
}
.cid-thXIZlMXgp .speaker-list .display-7,
.cid-thXIZlMXgp .speaker-title .display-7 {
  font-size: 0.8rem;
}
@media (max-width: 778px) {
  .cid-thXIZlMXgp {
    padding-top: 0rem;
  }
  .cid-thXIZlMXgp .schedule-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cid-thXIZlMXgp .schedule-wrapper {
    padding: 0 18px 18px 20px;
  }
  .cid-thXIZlMXgp .speaker-title {
    padding-top: 25px;
  }
  .cid-thXIZlMXgp .speaker-img {
    width: 67px;
  }
  .cid-thXIZlMXgp .speaker-img img {
    height: 100%;
  }
  .cid-thXIZlMXgp .item-border {
    padding-bottom: 0.5rem;
  }
  .cid-thXIZlMXgp .item {
    padding-top: 0.5rem;
    display: block!important;
    margin-top: 1rem;
  }
  .cid-thXIZlMXgp .time-slot {
    background-color: #99ca3c;
    color: #232323;
    padding: 2px 5px;
  }
  .cid-thXIZlMXgp ul.list.mb-4 {
    margin-bottom: 0!important;
  }
  .cid-thXIZlMXgp ul.speaker-list {
    margin: -7.5px 0 0 0;
    width: 100%!important;
  }
  .cid-thXIZlMXgp ul.speaker-list li {
    margin-right: 0;
    width: 100%;
    margin-bottom: 0rem;
  }
  .cid-thXIZlMXgp .schedule-speakers.mb-4 {
    margin-bottom: 0!important;
  }
  .cid-thXIZlMXgp .icon-title.mb-4 {
    margin-bottom: 0!important;
  }
}
.cid-t6DIf0NN1P {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-t6DIf0NN1P .btn-primary {
  padding: 1rem 3rem;
  text-transform: uppercase ;
}
.cid-t6DIf0NN1P .btn {
  border-radius: 0.1rem;
}
@media (max-width: 768px) {
  .cid-t6DIf0NN1P {
    padding-bottom: 1.5rem;
  }
}
.cid-thY5j53c25 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/bg-kv.jpg");
}
.cid-thY5j53c25 .mbr-fallback-image.disabled {
  display: none;
}
.cid-thY5j53c25 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-thY5j53c25 .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-thY5j53c25 .plan-body {
  padding-bottom: 2rem;
}
.cid-thY5j53c25 .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-thY5j53c25 .price {
  color: #84bc18;
}
.cid-thY5j53c25 .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-thY5j53c25 .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-thY5j53c25 .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-thY5j53c25 .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-thY5j53c25 .plan {
    margin-bottom: 2rem;
  }
}
.cid-thY5j53c25 .gt-heading.gt-align-center .gt-separate {
  justify-content: center;
}
.cid-thY5j53c25 .gt-separate {
  align-items: center;
  display: flex;
  margin: 3px auto 0;
  justify-content: center;
}
.cid-thY5j53c25 .gt-separate:before,
.cid-thY5j53c25 .gt-separate:after {
  content: '';
  display: block;
  height: 1px;
  width: 125px;
  background: currentColor;
  opacity: .15;
}
.cid-thY5j53c25 .gt-separate svg {
  margin: 0 20px;
  width: 23px;
  height: auto;
  opacity: .15;
}
.cid-thY5j53c25 .title {
  text-align: center;
}
.cid-thY5j53c25 a.text-primary:link,
.cid-thY5j53c25 a.text-primary:hover,
.cid-thY5j53c25 a.text-primary:visited,
.cid-thY5j53c25 a.text-primary:active {
  color: #353535!important;
}
.cid-thY5j53c25 .highlight {
  color: #99ca3c;
}
.cid-thY5j53c25 .mbr-section-title {
  color: #ffffff;
}
.cid-thY5j53c25 .note {
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  .cid-thY5j53c25 {
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
  }
  .cid-thY5j53c25 .plan-list.mb-4 {
    margin-bottom: 0 !important;
  }
  .cid-thY5j53c25 .price {
    font-size: 2.5rem;
  }
  .cid-thY5j53c25 .gt-separate.mb-3 {
    margin-bottom: 0 !important;
  }
}
.cid-thuQrWhNKf {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-thuQrWhNKf .mbr-fallback-image.disabled {
  display: none;
}
.cid-thuQrWhNKf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-thuQrWhNKf .mbr-section-title {
  color: #353535;
}
.cid-thuQrWhNKf .highlight {
  color: #99ca3c;
}
@media (max-width: 768px) {
  .cid-thuQrWhNKf {
    padding-top: 2rem;
  }
  .cid-thuQrWhNKf .mb-4 {
    margin-bottom: 0!important;
  }
}
.cid-thuR119nOU {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-thuR119nOU .item {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .cid-thuR119nOU .item {
    display: block;
  }
}
.cid-thuR119nOU .item-wrapper {
  position: relative;
  width: 300px;
}
.cid-thuR119nOU .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-thuR119nOU .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
@media (min-width: 768px) {
  .cid-thuR119nOU .item-wrapper {
    width: auto;
  }
}
@media (max-width: 767px) {
  .cid-thuR119nOU .item-wrapper {
    position: relative;
    width: 40%;
  }
}
.cid-thuR119nOU .carousel-control,
.cid-thuR119nOU .close {
  background: #1b1b1b;
}
.cid-thuR119nOU .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-thuR119nOU .carousel-control-prev span {
  margin-right: 5px;
}
.cid-thuR119nOU .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-thuR119nOU .carousel-control-next span {
  margin-left: 5px;
}
.cid-thuR119nOU .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-thuR119nOU .close::before {
  content: '\e91a';
}
.cid-thuR119nOU .close:hover {
  opacity: 1;
  background: #042d66;
  color: #fff;
}
.cid-thuR119nOU .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: #ed9d11 ;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s;
}
.cid-thuR119nOU .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-thuR119nOU .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-thuR119nOU .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-thuR119nOU .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-thuR119nOU .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-thuR119nOU .carousel-indicators li.active,
.cid-thuR119nOU .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-thuR119nOU .carousel-indicators li::after,
.cid-thuR119nOU .carousel-indicators li::before {
  content: none;
}
.cid-thuR119nOU .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-thuR119nOU .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-thuR119nOU .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-thuR119nOU .carousel-indicators {
    display: none;
  }
}
.cid-thuR119nOU .carousel-inner {
  display: flex;
  padding: 0 7rem;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .cid-thuR119nOU .carousel-inner {
    overflow: scroll;
  }
}
.cid-thuR119nOU .carousel-inner > .active {
  display: block;
}
.cid-thuR119nOU .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-thuR119nOU .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-thuR119nOU .carousel-control:hover {
  background: #ed9d11;
  color: #fff;
  opacity: 1;
}
.cid-thuR119nOU .carousel-indicators .active,
.cid-thuR119nOU .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-thuR119nOU .carousel-indicators .active {
  background: #fff;
}
.cid-thuR119nOU .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-thuR119nOU .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-thuR119nOU .modal-dialog {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #fff;
}
.cid-thuR119nOU .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-thuR119nOU .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-thuR119nOU .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-thuR119nOU .carousel {
  width: 100%;
}
.cid-thuR119nOU .modal-backdrop.in {
  opacity: 0.8;
}
.cid-thuR119nOU .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-thuR119nOU .modal.fade .modal-dialog,
.cid-thuR119nOU .modal.in .modal-dialog {
  transform: none;
}
.cid-thuR119nOU .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-thuR119nOU H6 {
  text-align: center;
}
.cid-thuR119nOU .content-bio {
  text-align: left;
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (max-width: 767px) {
  .cid-thuR119nOU .content-bio {
    padding: 2rem 0 5rem;
  }
}
.cid-thuR119nOU .winner-intro {
  text-align: left;
  text-transform: uppercase;
  color: #969696;
  font-weight: bold;
  font-size: 1.6rem!important;
  line-height: 1.4!important;
}
.cid-thuR119nOU h1.winner-name {
  line-height: 1.6;
  color: #1a1a1a;
  text-transform: capitalize;
  font-family: 'Nunito', sans-serif;
}
.cid-thuR119nOU .ul {
  margin-left: -20px;
}
.cid-thuR119nOU .title-category {
  color: #ed9d11;
}
.cid-thuR119nOU h6.display-7 {
  font-size: 1rem!important;
}
@media (max-width: 767px) {
  .cid-thuR119nOU .carousel-control,
  .cid-thuR119nOU .carousel-indicators,
  .cid-thuR119nOU .modal .close {
    position: fixed;
  }
  .cid-thuR119nOU .carousel-inner {
    padding: 0 2rem;
  }
  .cid-thuR119nOU .close {
    top: 0;
    right: 0;
  }
  .cid-thuR119nOU .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-thuR119nOU .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-thuR119nOU .winner-caption {
    text-align: left!important;
    margin-left: 1rem;
  }
  .cid-thuR119nOU .align-center {
    text-align: left!important;
  }
  .cid-thuR119nOU .item {
    padding-bottom: 0;
    height: 170px;
  }
}
@media (max-width: 767px) {
  .cid-thuR119nOU .winner-caption {
    margin-left: 10px;
    width: calc(50%);
  }
}
.cid-thuR119nOU .listcontent {
  position: relative;
  padding-left: 2rem;
}
.cid-thuR119nOU .listcontent::before {
  position: absolute;
  left: 0px;
  top: 15px;
  transform: translateY(-50%);
  width: 30px;
  font-weight: 900;
  content: "✓";
  color: #000000;
  height: 30px;
  display: flex;
}
.cid-thuR119nOU .mbr-item-subtitle.display-7 {
  line-height: 0.5rem;
}
@media (max-width: 992px) {
  .cid-thuR119nOU h1.winner-name {
    line-height: 1.2!important;
  }
  .cid-thuR119nOU .content-bio p.display-7 {
    font-size: 1rem!important;
  }
  .cid-thuR119nOU .winner-intro .display-2 {
    font-size: 1.6rem!important;
  }
}
.cid-ti2pVUAExC {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-ti2pVUAExC img,
.cid-ti2pVUAExC .item-img {
  width: 100%;
}
.cid-ti2pVUAExC .item:focus,
.cid-ti2pVUAExC span:focus {
  outline: none;
}
.cid-ti2pVUAExC .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-ti2pVUAExC .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ti2pVUAExC .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ti2pVUAExC .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-ti2pVUAExC .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ti2pVUAExC .mbr-section-title {
  color: #232323;
}
@media (min-width: 992px) {
  .cid-ti2pVUAExC .container-fluid {
    padding: 0 1.7erm;
  }
  .cid-ti2pVUAExC .row > [class*=col] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 767px) {
  .cid-ti2pVUAExC .container-fluid {
    padding: 0 2rem;
  }
}
.cid-ti2pVUAExC img {
  transition: all 2s!important;
}
.cid-ti2xd2klqD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-ti2xd2klqD img,
.cid-ti2xd2klqD .item-img {
  width: 100%;
}
.cid-ti2xd2klqD .item:focus,
.cid-ti2xd2klqD span:focus {
  outline: none;
}
.cid-ti2xd2klqD .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-ti2xd2klqD .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ti2xd2klqD .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ti2xd2klqD .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-ti2xd2klqD .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ti2xd2klqD .mbr-section-title {
  color: #232323;
}
@media (min-width: 992px) {
  .cid-ti2xd2klqD .container-fluid {
    padding: 0 1.7erm;
  }
  .cid-ti2xd2klqD .row > [class*=col] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 767px) {
  .cid-ti2xd2klqD .container-fluid {
    padding: 0 2rem;
  }
}
.cid-ti2xd2klqD img {
  transition: all 2s!important;
}
.cid-sQrzABLycu {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sQrzABLycu hr {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 778px) {
  .cid-sQrzABLycu {
    padding-top: 2.5rem;
  }
}
.cid-sQrzBbkyLU {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sQrzBbkyLU img {
  width: 250px;
  margin: auto;
}
.cid-sQrzBbkyLU .card {
  transition: all 0.3s;
  height: fit-content;
  margin-bottom: 0.4rem;
}
@media (min-width: 992px) {
  .cid-sQrzBbkyLU .card {
    max-width: 100%;
  }
}
.cid-t890l9Gjbu {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t890l9Gjbu hr {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 778px) {
  .cid-t890l9Gjbu {
    padding-top: 1.5rem;
  }
}
.cid-t890lW7ir0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t890lW7ir0 img {
  width: 120px;
  margin: auto;
}
.cid-t890lW7ir0 .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-t890lW7ir0 .card {
    max-width: 12.5%;
  }
}
.cid-thv1jC59GN {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-thv1jC59GN hr {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 778px) {
  .cid-thv1jC59GN {
    padding-top: 1.5rem;
  }
}
.cid-thv1ku6ptz {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-thv1ku6ptz img {
  width: 120px;
  margin: auto;
}
.cid-thv1ku6ptz .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-thv1ku6ptz .card {
    max-width: 15.5%;
  }
}
.cid-t82hNcgpfl {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t82hNcgpfl hr {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 778px) {
  .cid-t82hNcgpfl {
    padding-top: 1.5rem;
  }
}
.cid-t7vCmRuf6R {
  padding-top: 0rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.cid-t7vCmRuf6R img {
  width: 150px;
  margin: auto;
}
.cid-t7vCmRuf6R .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-t7vCmRuf6R .card {
    max-width: 15.5%;
  }
}
.cid-sQrzSYobjA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-sQrzSYobjA .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-sQrzSYobjA .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #99ca3c ;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
}
@media (max-width: 767px) {
  .cid-sQrzSYobjA .row {
    text-align: left;
  }
  .cid-sQrzSYobjA .social-row {
    justify-content: left;
  }
}
.cid-sQrzSYobjA .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-sQrzSYobjA .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sQrzSYobjA .list {
    margin-bottom: 0rem;
  }
}
.cid-sQrzSYobjA .mbr-text {
  color: #bbbbbb;
}
.cid-sQrzSYobjA .mbr-iconfont {
  color: white;
}
.cid-sQrzSYobjA ul.display-4,
.cid-sQrzSYobjA .copyright {
  font-size: 1rem;
}
.cid-sQrzSYobjA .link-style a:link,
.cid-sQrzSYobjA .link-style a:visited,
.cid-sQrzSYobjA .link-style a:hover {
  color: #bbbbbb!important;
  text-decoration: none;
}
