@font-face {
   font-family: 'Bebas Neue';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/OneDrive%20-%20ANPHABE%20JSC/Local%20Data/Mobirise/event/c/breakfast/fonts/Bebas Neue/regular.ttf') format('truetype');
}
