@font-face {
   font-family: 'Tektur';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/Local%20Data/Mobirise/event/vietnambestplacestowork/2024/fonts/Tektur/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Tektur';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///D:/Local%20Data/Mobirise/event/vietnambestplacestowork/2024/fonts/Tektur/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Tektur';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/Local%20Data/Mobirise/event/vietnambestplacestowork/2024/fonts/Tektur/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Tektur';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///D:/Local%20Data/Mobirise/event/vietnambestplacestowork/2024/fonts/Tektur/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Tektur';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/Local%20Data/Mobirise/event/vietnambestplacestowork/2024/fonts/Tektur/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Tektur';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/Local%20Data/Mobirise/event/vietnambestplacestowork/2024/fonts/Tektur/regular.ttf') format('truetype');
}
